<app-navbar></app-navbar>
<div class="container">
  <div class="login">

    <div>

      <div class="body">
        <div class="head">
          <h1>Login</h1>
        </div>
        <form form #Form="ngForm" (ngSubmit)="login()">

          <div>
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              [(ngModel)]="form.email" [ngModelOptions]="{standalone: true}" required name="email">

          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="form.password"
              [ngModelOptions]="{standalone: true}" required name="password">
            <div style="color: rgb(167, 23, 23);" [hidden]="!message">
              <i class='bx bxs-error'></i>&nbsp;{{message}}
            </div>

          </div>
          <div class="row">
            <div class="sub">
              <button type="submit" class="btn btn-primary" id="btnS">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>