<div [ngClass]="{'sidebar':true,'active':check}" >
    <div class="log_content">
        <div class="logo">
            <i class='bx bx-qr-scan'></i>
            <div class="logo_name">ServersLab</div>
        </div>
        <i class='bx bx-menu-alt-left' id="btn" (click)="toggle()"></i>
    </div>
    <ul class="nav_list">
        <li>
            <a routerLink="/dashbored">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashbored</span>
            </a>
            <span class="tool">Dashbored</span>
        </li>
        <li>
            <a routerLink="/User">
                <i class='bx bx-user-pin'></i>
                <span class="links_name">Users</span>
            </a>
            <span class="tool">Users</span>
        </li>
        <li>
            <a routerLink="/Inscri">
                <i class='bx bx-user-plus'></i>
                <span class="links_name">Add User</span>
            </a>
            <span class="tool">Add User</span>
        </li>
        <li>
            <a routerLink="/servers">
                <i class='bx bx-server'></i>
                <span class="links_name">Servers</span>
            </a>
            <span class="tool">Servers</span>
        </li>
        <li>
            <a routerLink="/addServer/ec2">
                <i class='bx bxs-add-to-queue'></i>
                <span class="links_name">Add Server</span>
            </a>
            <span class="tool">Add Server</span>
        </li>
    </ul>
    <div class="profile_content">
        <div class="profile">
            <div class="profile_details">
                <div class="name_job">
                    <div class="name">Dali kbaier</div>
                    <div class="job">Web Design</div>
                </div>
            </div>
            <i class='bx bxs-log-out' id="log_out"></i>
        </div>
    </div>
</div>