<app-sidebar></app-sidebar>
<div [ngClass]="{'home':true}">
    <br><br>
    <h1>Add Users</h1>
    <div class="box">
        <div class="container" >
            <div class="alert alert-info" [hidden]="!message">
                {{message}}
            </div>



            <form #signForm="ngForm" (ngSubmit)="add()">
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="">first Name</label>
                        <input type="text" placeholder="first Name" [(ngModel)]="form.first_name" name="first_name"
                            class="form-control" required>
                    </div>
                    <div class="col-md-6">

                        <label for="">Last Name</label>
                        <input type="text" placeholder="Last Name" [(ngModel)]="form.last_name" name="last_name"
                            class="form-control" required>

                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="">Email</label>
                        <input type="text" placeholder="Email" [(ngModel)]="form.email" name="email" required
                            class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="password">password</label>
                        <input type="password" placeholder="password" [(ngModel)]="form.password" name="password"
                            id="password" required class="form-control">
                    </div>

                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="">Type of User</label>
                        <select name="role" id="" class="form-control" [(ngModel)]="form.role"
                            [ngModelOptions]="{standalone: true}" required>
                            <option value="admin">Admin</option>
                            <option value="user">Simple User</option>

                        </select>
                    </div>
                </div>

                <div class="">
                    <button type="submit" class="btn btn-primary" id="btnsign"
                        [disabled]="!signForm.valid" style="">SignUp</button>
                </div>

            </form>


        </div>
    </div>
</div>