 /* input,textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px;
    outline-style: none;
} */
.ng-invalid:not(form){
    border-bottom:2px solid rgb(237, 241, 251);
}
.ng-valid:not(form){
    border-bottom:2px solid rgb(135, 161, 255);
}
.box{
    margin-top:50px;
    border:none;
    padding:25px;
    border-radius:12px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
  }
  #btnsign{
    color: white;
    background-color: rgb(81, 136, 247);
    border: 1px solid rgb(81, 136, 247);

  }
  @media only screen and (max-width: 360px) {
    .box{
      width:206px;
      margin-top:10px;
      padding:5px;
    }
    #btnsign{
        width: 95%;
        display: block;
        margin: auto;
      }
  }