<div class="box">
    <div class="container">
        <form (ngSubmit)="add()">
            <div class="row form-group">
                <div class="col-sm">
                    <label for="">first Name</label>
                    <input type="text" class="form-control" placeholder="first Name" [(ngModel)]="user1.first_name" [ngModelOptions]="{standalone: true}">
                </div>

            </div>
            <div class="row form-group">
                <div class="col-sm">
                    <label for="">Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="user1.last_name" [ngModelOptions]="{standalone: true}">
                </div>

            </div>
            <div class="row form-group">
                <div class="col-sm">
                    <label for="">Email</label>
                    <input type="text" class="form-control" placeholder="Email"  [(ngModel)]="user1.email" [ngModelOptions]="{standalone: true}">
                </div>

            </div>
            <div class="row form-group">
                <div class="col-md">
                    <label for="">password</label>
                    <input type="text" class="form-control" placeholder="password"  [(ngModel)]="user1.password" [ngModelOptions]="{standalone: true}">
                </div>


                
            </div>
            <div class="">
                <button type="submit"  class="btn btn-success" id="btnsign">SignUp</button>
            </div>
           
        </form>
    </div>
</div>