
#btn1 {
  background-color: black;
  color: white;
  border: 1px solid black;
  transition: all 0.5s;
}
#btn1:hover {
  background-color: #ffffff;
  border: 1px solid black;
  color: black;
}
#btn2{
  
  color:white;
  margin-bottom: 10px;

}
.box{
  margin-top:50px;
  border:none;
  padding:25px;
  border-radius:12px;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
}
.box2{
   padding:25px;
}
@media only screen and (max-width: 360px) {
.box{
  width:206px;
  margin-top:10px;
  
}
#btn1 {
margin-top: 10px;
width: 95%;
display: block;
margin: auto;
}
#btn2{
  margin-top: 10px;
  color:white;
  margin-bottom: 10px;

}

}