<div [ngClass]="{'home':true}">
 <div class="box">
        <h3>S3/CDN</h3>
        <div class="card-body">
            <!-- {{id}} -->
            <form #s3form="ngForm" class="form-group">
                <div class="col">
                    
                    <input type="text" class="form-control" placeholder="idServer" name="idServer"
                        [(ngModel)]="s3.idServer" [ngModelOptions]="{standalone: true}" required disabled hidden>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="">Public Bucket</label>
                        <input type="text" class="form-control" [(ngModel)]="s3.PublicBucket"
                            [ngModelOptions]="{standalone: true} " placeholder="Public Bucket" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="">Private Bucket</label>
                        <input type="text" class="form-control" min="1000" max="10000" [(ngModel)]="s3.PrivateBucket"
                            [ngModelOptions]="{standalone: true} " placeholder="Private Bucket" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="">Region</label>
                    </div>
                    <div class="col">
                        <select name="Region" id="" class="form-control" [(ngModel)]="s3.Region" required
                            [ngModelOptions]="{standalone: true} ">
                            <option value="r1">Region1</option>
                            <option value="r2">Region2</option>
                            <option value="r3">Region3</option>
                        </select>
                    </div>
                </div>
                <br>
    
    
    
    
                <div class="row justify-content-between">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-warning" routerLink="" (click)="go('ec2')" id="btn2">Privous</button>
                    </div>
    
    
                    <div class="col-sm-4">
                        <a routerLink="" (click)="go('sqs')">
                            <button type="button" class="btn btn-primary" id="btn1" [disabled]="!s3form.valid" (click)="addCdn()"
                            >Next</button>
                        </a>
                    </div>
                </div>
    
            </form>
        </div>
    </div>
</div>