<app-sidebar></app-sidebar>
<div [ngClass]="{'home':true}">
    <div >

        <table class="table" >
            <thead>
                <tr>
                    <th>#</th>
                    <th>FirstName</th>
                    <th>lastName</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let us of user">
                    <th scope="row">{{ us.id }}</th>
                    <td>{{ us.first_name }}</td>
                    <td>{{ us.last_name }}</td>
                    <td>{{ us.email }}</td>
                    <td>{{ us.role }}</td>
                    <td>
                        <button class="btn btn-warning btn-sm" (click)="deleteData(us.id)" id="btn2">delete</button>
                        <button class="btn btn-warning btn-sm mx-2" routerLink="/EditUser/{{ us.id }}" id="btn1">Edit</button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>