<div class="box">
    <div class="container">
        <form (ngSubmit)="updateEmployee()">
            <div class="row form-group">
                <div class="col-sm">
                    <label for="">User Name</label>
                    <input type="text" class="form-control" placeholder="User Name" [(ngModel)]="employee.name" [ngModelOptions]="{standalone: true}">
                </div>

            </div>
            <div class="row form-group">
                <div class="col-sm">
                    <label for="">Email</label>
                    <input type="text" class="form-control" placeholder="Email"  [(ngModel)]="employee.email" [ngModelOptions]="{standalone: true}">
                </div>

            </div>
            <div class="row form-group">
                <div class="col-md">
                    <label for="">salary</label>
                    <input type="text" class="form-control" placeholder="salary"  [(ngModel)]="employee.salary" [ngModelOptions]="{standalone: true}">
                </div>


                
            </div>
            <div class="">
                <button type="submit"  class="btn btn-success" id="btnsign">Update</button>
            </div>
           
        </form>
    </div>
</div>