<app-sidebar></app-sidebar>
<div [ngClass]="{'home':true}">
    <div style="margin: 15px;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">server name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{s.id}}</th>
                    <td>{{s.name}}</td>
                </tr>

            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;" *ngFor="let us of ec2">

                    <div class="card-body">
                        <h6>Server Name</h6>
                        <p class="card-title">{{us.ServerName}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h6>Type</h6>
                            <p>{{us.Type}}</p>
                        </li>
                        <li class="list-group-item">
                            <h6>Storage</h6>
                            <p>{{us.Storage}}</p>
                        </li>
                        <li class="list-group-item">
                            <h6>Firwall</h6>
                            <p>{{us.Firwall}}</p>
                        </li>
                        <li class="list-group-item">
                            <h6>Machine</h6>
                            <p>{{us.Machine}}</p>
                        </li>
                    </ul>
                    <div class="card-body">
                        <button class="btn btn-outline-warning"
                            routerLink="/addServer/ec2-edit/{{ us.id }}">Edit</button>
                    </div>
                </div>
            </div>


            <div class="col-sm-4">
                <div class="card" style="width: 18rem;" *ngFor="let cd of cdn">

                    <div class="card-body">

                        <h6>PublicBucket: </h6>
                        <p>{{cd.PublicBucket}}</p>
                    </div>
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">
                            <h6>Private Bucket:</h6>
                            <p>{{cd.PrivateBucket}}</p>
                        </li>
                        <li class="list-group-item">
                            <h6>Region: </h6>
                            <p>{{cd.Region}}</p>
                        </li>

                    </ul>
                    <div class="card-body">
                        <button class="btn btn-outline-warning"
                            routerLink="/addServer/s3-edit/{{ cd.id }}">Edit</button>
                    </div>
                </div>

            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;" *ngFor="let sq of sqs">

                    <div class="card-body">
                        <h6>Quere_Name: </h6>
                        <p>{{sq.Quere_Name}}</p>

                    </div>
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">
                            <h6>Region</h6>
                            <p>{{sq.Region}}</p>
                        </li>

                    </ul>
                    <div class="card-body">
                        <button class="btn btn-outline-warning" routerLink="/addServer/s-edit/{{ sq.id }}">Edit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>