


<table class="table">

    <thead>
        <tr>
            <th>#</th>
            <th>name</th>
            <th>Config</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let us of server">
            <th scope="row">{{ us.id }}</th>
            <td>{{ us.name }}</td>

            <td>
                <button class="btn btn-danger btn-sm" (click)="DeleteServer(us.id)">delete</button>
                <button class="btn btn-primary btn-sm mx-2" routerLink="/preview/{{ us.id }}">Preview</button>
            </td>

        </tr>
    </tbody>
</table>