<app-sidebar></app-sidebar>
<div class="container">

    <div [ngClass]="{'home':true}">
        <div style="margin: 15px;">
            <table class="table table-striped ">
    
                <thead>
                    <tr>
                        <th>#</th>
                        <th>name</th>
                        <th>Action</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let us of server">
                        <th scope="row">{{ us.id }}</th>
                        <td>{{ us.name }}</td>
    
                        <td>
                            <button class="btn btn-danger btn-sm" (click)="DeleteServer(us.id)" id="btn1">Delete <i class='bx bx-trash'></i></button>

                            <button class="btn btn-primary btn-sm mx-2" routerLink="/preview/{{ us.id }}" id="btn2">Preview <i class='bx bx-show'></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>