
#btn1 {
    background-color: black;
    color: white;
    border: 1px solid black;
    margin-bottom: 10px;
    transition: all 0.5s;
}
#btn1:hover {
  background-color: #ffffff;
  border: 1px solid black;
  color: black;
}
#btn2 {
  color: white;
  margin-bottom: 10px;
  background-color: rgb(81, 136, 247);
  border:1px solid rgb(81, 136, 247);
}
#btn2:hover{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(81, 136, 247);
  color:rgb(81, 136, 247);
  transition: all 0.5s;
}
