<app-sidebar></app-sidebar>
<div [ngClass]="{'home':true}">
    <div class="box">
        <h3>Sqs</h3>
        <div class="card-body">
            <form #form="ngForm">
    
                <!-- <div class="col">
                    <label for="">idServer</label>
                    <input type="text" class="form-control" placeholder="idServer" name="idServer"
                        [(ngModel)]="s.idServer" [ngModelOptions]="{standalone: true}" required disabled hidden>
                </div> -->
                <div class="row">
                    <div class="col">
                        <label for="">Quere Name</label>
                        <input type="text" placeholder="QuereName" [(ngModel)]="s.Quere_Name" name="Quere_Name"
                            class="form-control" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="">Region</label>
                        <br>
                        <select name="Region" id="" [(ngModel)]="s.Region" name="Region" required class="form-control">
                            <option value="r1">Region1</option>
                            <option value="r2">Region2</option>
                            <option value="r3">Region3</option>
                        </select>
                    </div>
                </div>
                <br>
                <!-- <div class="row">
                    <div class="col-4">
                        <label for="">Veera</label>
    
                    </div>
                    <div class="col-4">
                        <input type="checkbox" name="Veera" id=""  [(ngModel)]="form.Veera" >
    
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label for="">APrime</label>
    
                    </div>
                    <div class="col-4">
                        <input type="checkbox" name="APrime" id=""  [(ngModel)]="form.APrime" >
    
                    </div>
                </div> -->
    
    
                <div class="row justify-content-between">
    
                    <div class="col-4">
    
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="updateSqs(s)" routerLink="/preview/{{id2}}" id="btn2">
                            Next
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>